<div class="row">
  <div class="container">
    <div class="container text-center">
      <img src="https://s3-us-west-2.amazonaws.com/neversungames/All+Thats+Left+neversun+Logo.jpg">
        <h2 class="atl-heading text-left">Synopsis of All That's Left:</h2>
        <p class="atl">
          All That's Left is a top down zombie survival game. It's not a shooter. It's a strategy game. You manage a group of survivors, and scavenge supplies from towns. With your supplies you can craft specialized weapons to better equip your survivors, and and build up your camp. Other players can raid your camp and steel your supplies and resources. Strategies for your survivors are completely at your whim, being controlling the whole group, specializing teams or controlling them individually to do different things. Defend your camp, or guard scavenging survivors while in a town. Watch out though, if a survivor get's over run by zombies they will begin to turn into a zombie. The zombie infection takes 24 hours to take hold of the survivor. There is a cure, but you need to administer it quickly to resist from turning. Fortify your camp with traps, towers, fences, and use special constructions to improve your crafting, defense, and even your offense. Versatility is key. You can throw a specialized constructions and survivors into the bed of a pick up truck or other vehicles to improve mobility and versatility. However, like wise there is a cost. Using vehicles you need to keep up on fuel, and you loose accuracy. So plan your assaults wisely. More survivors can be found in towns, so if you lose someone, you have to work extra hard to replace them. Every survivor has a special ability. Keeping things lively and fresh. Survivors are rare so take care, and stay alive with <u>All That's Left.</u>
      </p>
    </div>
  </div>
</div>