

@import "bootstrap-sprockets";
@import "bootstrap";

	
body { 
  background-color:black; 
}

p.atl {
  color:white;
}

img {
  max-width:100%
}

h2.atl-heading{
  color: #A00000;
  font-family: 'Architects Daughter', cursive;
}

body.home {
  background: url(https://s3-us-west-2.amazonaws.com/neversungames/all+thats+left+logo.jpg) no-repeat center center fixed;
  max-width:100%;
}